div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/**.respuesta{
    visibility: hidden;
    opacity: 0;
}*/
.correcto{
    color: green;
    visibility: visible;
    opacity: 1;
}
.incorrecto{
    color: red;
    visibility: visible;
    opacity: 1;
}